//Sort-by component

.sort-by-main {
    line-height: 1; //leading reset
    width: 85%;
    max-width: 35.5em;
    padding-right: 1%;
    margin-left: auto;
    margin-right: auto;
}

.sort-by-group {
    display: flex;
    flex-direction: initial;

    @media screen and (max-width: 960px ) { //mixin required
        flex-direction: column;
    }

}

.sort-by-order {
    display: inline-block;
    padding-top: 2px;
    margin-right: 0.5em;
    border-bottom: 0;
    color: var(--midnightgray);
    font-size: var(--subhead); //pending scss
    font-weight: 400;
    letter-spacing: var(--spacing2em);
    line-height: 2;
    text-align: right;
    font-variant-numeric: tabular-nums;

    @media screen and (max-width: 960px ) { //mixin required
        display: block;
        position: static;
        width: 100%;
        margin: 1.6em 0 0.4em 0;
        border-bottom: var(--linksolid);
        text-align: left;
    }
}

.sort-by-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sort-by-link {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-between;
    padding: 2px 12px;
    border-radius: 4px;
    text-decoration: none;

    &:hover{
        text-decoration-color: transparent;
        background-color: var(--linkcolor);
    }
}
.sort-by-groupname {
    display: inline-block;
    line-height: 2;
    flex: 0 0 auto;
    white-space: nowrap;
    font-size: var(--subhead); //pending scss
    font-weight: 400;
    letter-spacing: var(--spacing2em);
    color: var(--textcolor);

    &::selection {
        color: var(--bgcolor);
    }
}
.sort-by-link:hover .sort-by-groupname {
    color: var(--sandgray);
}
.sort-by-wrap {
    display: flex;
    flex: 1 0 auto;
    align-items: baseline;
    justify-content: space-between;
    max-width: 100%;
}
.sort-by-hr {
    flex: 1 0 auto;
    height: 1px;
    border-bottom: 1px dotted currentColor; //pending scss
    margin: 0 0.16em;
    opacity: 0.6;
}
.sort-by-link:hover .sort-by-hr {
    opacity: 0;
}
.sort-by-entry {
    flex: 0 1 auto;
    overflow: hidden; //pending scss
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--linkcolor);
    font-weight: 500;
    letter-spacing: var(--spacing1em);
    line-height: 2.5;
    text-decoration: underline;
    text-decoration-color: transparent;

    &::selection {
        color: var(--bgcolor);
    }
}
.sort-by-link:hover .sort-by-entry {
    color: var(--sandgray);
}
