{% comment %}
    include.type:        Chooses between sort and inmersion patterns.
    include.title:       Optinal in sort as defined by default, required for inmersion.
    include.content_url: Get content file from /ext for inmersion, unusued for sort.
{% endcomment %}

{% if include.type == "sort" %}
    {% assign title = "Filter projects by tag" %}
    {% assign content_url = "assets/details/sort-by/index.html" %}
{% else %}
    {% assign title = include.title %}
    {% assign content_url = include.content_url %}
{% endif %}

<details class="{{ include.type }}-main full-width">
    <summary class="{{ include.type }}-summary noselect">
        <span class="{{ include.type }}-title">{{ title }}</span>
    </summary>
    {% include {{ content_url }} %}
</details>