{% comment %} Defining entry grouping criteria {% endcomment %}
{% if include.order_by == 'year' %}
    {% assign works = site.work | sort_natural: 'date' %}
{% else %}
    {% assign works = site.work | sort_natural: include.group_by %}
{% endif %}

{% comment %} Choosing entry desired order {% endcomment %}
{% case include.sort_order %}
    {% when 'asc' %}
        {% assign works = works %}
    {% when 'desc' %}
        {% assign works = works | reverse %}
{% endcase %}

{% assign works.date = year | date: "%Y" %}
{{ year }}

{% comment %}  {% endcomment %}
{% assign works_year = "" | split: ',' %}
{% for project in works %}
    {% assign project_year = project %} 
    {% assign project_year.year = project.date | date: "%Y" %}
    {{ project_year.year  }}
    {% assign works_year = works_year | push: proyect_year %}
{% endfor %}
{% assign yearlist = works_year | map: "year" %}
{% for year in yearlist %}
    {{ year }}
{% endfor %}


{% comment %} html snippet 
<div class="sort-by-main full-width">
    {% for project in works %}
        {% include list/work/sort-by/group.html %}
    {% endfor %}
</div>
{% endcomment %}