<nav class="navbar"></nav>
    <div class="navbar-left">
        <a href="/{{ page.lang }}"><img src="../assets/images/icon/Owl.svg" alt="{{ site.data.localization['$home'][page.lang] }}"/></a>
        <a href="/{{ page.lang }}">{{ site.data.localization['$toggleLang'][page.lang] }}</a>
    </div>
    <div class="navbar-right">
        <a href="/{{ page.lang }}/about" >{{ site.data.localization['$about'][page.lang] }}</a>
        <a href="/{{ page.lang }}/work">{{ site.data.localization['$work'][page.lang] }}</a>
        <a href="/{{ page.lang }}/contact">{{ site.data.localization['$contact'][page.lang] }}</a>
    </div>
</nav>